@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ed0c0c #c73030;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ed0c0c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(26, 19, 26);
    
    border: 3px ;
  }

